<div class="background">
    <section class="wrapper">
        <div class="card"  style="width: 25rem;">
            <h1 class="card__header">Create New Payment Record</h1>
            <div style="padding: 0 24px 24px 24px;">
                <form [formGroup]="paymentForm" (ngSubmit)="createPayment()">
                    <div class="form-section">
                        <label for="">Name</label>
                        <input type="text" class="form-control" formControlName="cardOwnerName" placeholder="Full Name" required>
                        <span style="color: red;" *ngIf="cardOwnerName && cardOwnerName.touched && cardOwnerName.invalid">
                            Full name is required
                        </span>
                    </div>
                    <div class="form-section">
                        <label for="">Card Number</label>
                        <input type="text" (keypress)="numberOnly($event)" class="form-control" formControlName="cardNumber" placeholder="Card Number" required>
                        <span style="color: red;" *ngIf="cardNumber && cardNumber.touched && cardNumber.invalid">
                            Card number is required and must consists 16 numbers
                        </span>
                    </div>
                    <div class="form-section">
                        <label for="">Security Code</label>
                        <input type="text" (keypress)="numberOnly($event)" class="form-control" formControlName="securityCode" placeholder="Security Code" required>
                        <span style="color: red;" *ngIf="securityCode && securityCode.touched && securityCode.invalid">
                            Security code is required and must consists three numbers
                        </span>
                    </div>
                    <div class="form-section">
                        <label for="">Expiration Date</label>
                        <input type="text" class="form-control" [min]="today" formControlName="expirationDate" placeholder="mm/yy" required>
                        <span style="color: red;" *ngIf="expirationDate && expirationDate.touched && expirationDate.invalid">
                            Expiration date is required
                        </span>
                        <div>
                            <span style="color: red;" *ngIf="expirationDate && expirationDate.touched && month >= 13">
                                Maximum month is 12
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary" style="margin-top: 24px;">Submit</button>
                </form>
            </div>
        </div>
    </section>
</div>
<app-toast [toastMessage]="toastMessage" [isOpen]="openToast" [type]="toastType"></app-toast>

